* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif,sans-serif; }

:root {
  --bgWhite: white;
  --bgDark: #333;
  --bf5f5f5: #f5f5f5;
  --bsid1: rgb(165, 229, 226);
  --bsid2: rgb(219, 152, 182);
  --bsid3: rgb(180, 173, 166);
  --bsid4: rgb(61, 115, 169);
  --bsid5: rgb(234, 195, 115);
  --bsid6: rgb(240, 135, 119);
  --bsid7: rgb(101, 94, 192);
  --bsid8: rgb(49, 116, 127);
  --bsid9: rgb(144, 208, 231);
  --bsidh1: rgba(165, 229, 226,0.2);
  --bsidh2: rgba(219, 152, 182,0.2);
  --bsidh3: rgba(180, 173, 166,0.2);
  --bsidh4: rgba(61, 115, 169,0.2);
  --bsidh5: rgba(234, 195, 115,0.2);
  --bsidh6: rgba(240, 135, 119,0.2);
  --bsidh7: rgba(101, 94, 192,0.2);
  --bsidh8: rgba(49, 116, 127,0.2);
  --bsidh9: rgba(144, 208, 231,0.2);
  --tOriGreen: #777;
  --tDark: #333;
  --tWhite: white;
  --t5: #555;
  --t6: #666;
  --t9: #999; }

:root {
  --s15:15px; }
