section.mainContainer > nav {
  display: grid;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 3fr 1fr 3fr;
  padding-right: 4.88281%;
  padding-left: 3.90625%;
  position: fixed;
  z-index: 999999;
  background-color: var(--bgWhite);
  border-bottom: 2px solid rgba(0, 0, 0, 0.05); }
  section.mainContainer > nav > div.left {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    column-gap: 40px; }
    section.mainContainer > nav > div.left > div.menu {
      width: 25px;
      height: 30px; }
      section.mainContainer > nav > div.left > div.menu > div.menuButton {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer; }
        section.mainContainer > nav > div.left > div.menu > div.menuButton > div.lineBars {
          width: 100%;
          height: 2px;
          background-color: black;
          position: absolute;
          transition: 300ms; }
          section.mainContainer > nav > div.left > div.menu > div.menuButton > div.lineBars:nth-of-type(1) {
            top: 6px;
            left: 0; }
          section.mainContainer > nav > div.left > div.menu > div.menuButton > div.lineBars:nth-of-type(2) {
            top: 14px;
            left: 0; }
          section.mainContainer > nav > div.left > div.menu > div.menuButton > div.lineBars:nth-of-type(3) {
            top: 22px;
            left: 0; }
        section.mainContainer > nav > div.left > div.menu > div.menuButton:hover > div.lineBars {
          transform: scale(1, 1.5);
          transition: 300ms; }
    section.mainContainer > nav > div.left > div.logIn {
      width: 28px;
      height: 28px;
      text-align: center;
      cursor: pointer; }
      section.mainContainer > nav > div.left > div.logIn > button {
        display: inline-block;
        width: 100%;
        height: 100%;
        all: unset; }
        section.mainContainer > nav > div.left > div.logIn > button > span {
          font-size: 17px;
          line-height: 28px;
          color: var(--tOriGreen); }
    section.mainContainer > nav > div.left > div.ourStory {
      cursor: pointer; }
      section.mainContainer > nav > div.left > div.ourStory > button {
        all: unset;
        text-align: left;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 15px;
        color: var(--tDark); }
        section.mainContainer > nav > div.left > div.ourStory > button:hover {
          color: var(--tOriGreen); }
    section.mainContainer > nav > div.left > div.joinUs {
      cursor: pointer; }
      section.mainContainer > nav > div.left > div.joinUs > button {
        all: unset;
        text-align: left;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 15px;
        color: var(--tDark); }
        section.mainContainer > nav > div.left > div.joinUs > button:hover {
          color: var(--tOriGreen); }
  section.mainContainer > nav > div.mid {
    width: 100%;
    height: 100%; }
    section.mainContainer > nav > div.mid > a {
      text-decoration: none;
      display: block;
      width: 100%;
      background-color: white;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      section.mainContainer > nav > div.mid > a > svg {
        width: 135px;
        display: inline-block; }
  section.mainContainer > nav > div.right {
    display: flex;
    width: 100%;
    flex-flow: row-reverse wrap;
    column-gap: 40px;
    justify-content: right;
    align-items: center; }
    section.mainContainer > nav > div.right > div.shoppingButton {
      display: block;
      width: 30px;
      height: 30px;
      font-size: 28px;
      text-align: center; }
      section.mainContainer > nav > div.right > div.shoppingButton > a {
        text-decoration: none;
        text-align: center;
        color: var(--tOriGreen); }
    section.mainContainer > nav > div.right > .searchBox {
      display: flex;
      column-gap: 5px;
      padding: 5px 10px 5px 15px;
      justify-content: center;
      align-items: center;
      background-color: var(--bf5f5f5);
      border-radius: 20px; }
      section.mainContainer > nav > div.right > .searchBox > label[for=search] {
        color: var(--tOriGreen);
        font-size: 20px; }
      section.mainContainer > nav > div.right > .searchBox > input[id=search] {
        all: unset;
        color: var(--tDark);
        font-size: 12px;
        padding-left: 5px; }
        section.mainContainer > nav > div.right > .searchBox > input[id=search]::placeholder {
          color: var(--tDark);
          font-size: 12px;
          font-weight: lighter; }
      section.mainContainer > nav > div.right > .searchBox > span {
        color: var(--tOriGreen);
        font-size: 20px;
        visibility: hidden; }
  section.mainContainer > nav > div.menuPage {
    width: 100vw;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
    section.mainContainer > nav > div.menuPage > div.menuContainer {
      width: 100%;
      height: 80%;
      flex-flow: row wrap;
      background-color: var(--bgWhite);
      position: relative;
      overflow: auto; }
      section.mainContainer > nav > div.menuPage > div.menuContainer > div.content {
        width: 248px;
        margin-bottom: 5px; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > a {
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          font-size: 17px;
          font-weight: 500;
          line-height: 32px;
          padding-left: 30px;
          color: var(--tDark);
          position: relative; }
          section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > a:hover {
            background-color: #e5e5e526; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(4) > a:hover {
          background-color: var(--bsidh1); }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(5) > a:hover {
          background-color: var(--bsidh2); }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(6) > a:hover {
          background-color: var(--bsidh3); }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(7) > a:hover {
          background-color: var(--bsidh4); }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(8) > a:hover {
          background-color: var(--bsidh5); }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(9) > a:hover {
          background-color: var(--bsidh6); }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(10) > a:hover {
          background-color: var(--bsidh7); }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(11) > a:hover {
          background-color: var(--bsidh8); }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(12) > a:hover {
          background-color: var(--bsidh9); }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(4) > a::before {
          content: "";
          display: inline-block;
          width: 5px;
          height: 100%;
          background-color: var(--bsid1);
          position: absolute;
          left: 0;
          top: 0; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(5) > a::before {
          content: "";
          display: inline-block;
          width: 5px;
          height: 100%;
          background-color: var(--bsid2);
          position: absolute;
          left: 0;
          top: 0; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(6) > a::before {
          content: "";
          display: inline-block;
          width: 5px;
          height: 100%;
          background-color: var(--bsid3);
          position: absolute;
          left: 0;
          top: 0; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(7) > a::before {
          content: "";
          display: inline-block;
          width: 5px;
          height: 100%;
          background-color: var(--bsid4);
          position: absolute;
          left: 0;
          top: 0; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(8) > a::before {
          content: "";
          display: inline-block;
          width: 5px;
          height: 100%;
          background-color: var(--bsid5);
          position: absolute;
          left: 0;
          top: 0; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(9) > a::before {
          content: "";
          display: inline-block;
          width: 5px;
          height: 100%;
          background-color: var(--bsid6);
          position: absolute;
          left: 0;
          top: 0; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(10) > a::before {
          content: "";
          display: inline-block;
          width: 5px;
          height: 100%;
          background-color: var(--bsid7);
          position: absolute;
          left: 0;
          top: 0; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(11) > a::before {
          content: "";
          display: inline-block;
          width: 5px;
          height: 100%;
          background-color: var(--bsid8);
          position: absolute;
          left: 0;
          top: 0; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(12) > a::before {
          content: "";
          display: inline-block;
          width: 5px;
          height: 100%;
          background-color: var(--bsid9);
          position: absolute;
          left: 0;
          top: 0; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page {
          background-color: var(--bgWhite);
          width: calc(100% - 248px);
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          display: none;
          border-left: 2px solid rgba(0, 0, 0, 0.05);
          overflow: auto; }
          section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding: 20px 20px 20px 45px; }
            section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper > div.clumnOne > h2 {
              display: flex;
              font-size: 17px;
              font-weight: 700;
              text-transform: capitalize;
              flex-flow: row wrap;
              justify-content: left;
              align-items: center;
              column-gap: 10px;
              margin-bottom: 30px; }
              section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper > div.clumnOne > h2:hover {
                color: var(--tOriGreen); }
                section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper > div.clumnOne > h2:hover > span {
                  color: var(--tOriGreen); }
              section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper > div.clumnOne > h2 > span {
                display: inline-block; }
                section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper > div.clumnOne > h2 > span > svg {
                  width: 28px;
                  height: 28px;
                  color: var(--tDark); }
            section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper > div.clumnOne > div.group, section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper div.clumnTwo > div.group, section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper div.clumnThree > div.group, section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper div.clumnFour > div.group {
              display: flex;
              flex-flow: column;
              justify-content: left;
              align-items: left;
              margin-bottom: 30px;
              padding: 0 0 30px 5px; }
              section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper > div.clumnOne > div.group > a, section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper div.clumnTwo > div.group > a, section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper div.clumnThree > div.group > a, section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper div.clumnFour > div.group > a {
                text-decoration: none;
                color: var(--tDark);
                font-size: 14px;
                font-weight: 400;
                margin: 0 0 15px; }
                section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper > div.clumnOne > div.group > a:hover, section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper div.clumnTwo > div.group > a:hover, section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper div.clumnThree > div.group > a:hover, section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper div.clumnFour > div.group > a:hover {
                  color: var(--tOriGreen);
                  font-weight: 700; }
                section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper > div.clumnOne > div.group > a:first-of-type, section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper div.clumnTwo > div.group > a:first-of-type, section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper div.clumnThree > div.group > a:first-of-type, section.mainContainer > nav > div.menuPage > div.menuContainer > div.content > div.page > div.wrapper div.clumnFour > div.group > a:first-of-type {
                  font-weight: 700; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:first-of-type > div.page {
          display: block; }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(2) > div.page > div.containerBox {
          display: flex;
          margin: 0 auto;
          width: 310px;
          text-align: center;
          flex-flow: column wrap;
          padding: 20px 0;
          row-gap: 10px; }
          section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(2) > div.page > div.containerBox > a {
            text-decoration: none;
            text-align: center;
            text-transform: capitalize;
            font-size: 17px;
            font-weight: 500;
            color: var(--tDark);
            position: relative;
            overflow: hidden; }
            section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(2) > div.page > div.containerBox > a > img {
              width: 100%;
              object-fit: cover;
              border-radius: 10px; }
            section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(2) > div.page > div.containerBox > a > div.coverBack {
              width: 100%;
              height: 99.2%;
              background-color: rgba(0, 0, 0, 0.5);
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 10px;
              display: none;
              transition: 300ms; }
            section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(2) > div.page > div.containerBox > a:hover {
              color: var(--t9); }
              section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(2) > div.page > div.containerBox > a:hover > div.coverBack {
                display: block;
                transition: 300ms; }
            section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(2) > div.page > div.containerBox > a:last-of-type {
              display: block;
              width: 70px;
              margin: 0 auto;
              text-transform: uppercase;
              border-bottom: 2px solid var(--tDark); }
              section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(2) > div.page > div.containerBox > a:last-of-type:hover {
                color: var(--tDark); }
          section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(2) > div.page > div.containerBox > p {
            text-align: center;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 400;
            color: var(--t6); }
        section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(3) > div.page > a {
          display: block;
          width: calc(100% / 4.75);
          text-decoration: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(3) > div.page > a > img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
          section.mainContainer > nav > div.menuPage > div.menuContainer > div.content:nth-of-type(3) > div.page > a > span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--tWhite);
            text-align: center;
            text-transform: capitalize;
            font-size: 30px;
            font-weight: 700; }

.activator {
  display: block !important; }
